.r-container{
  position: relative;
  overflow: hidden;
}

.r-head {
  margin-bottom: 2rem;
}

.r-card {
  gap: 0.5rem;
  padding: 1rem;
  border-radius: 2rem;
  max-width: max-content;
  margin: auto;
  transition: all 0.3s ease-in-out;
}

.r-card img {
  width: 100%;
  max-width: 15rem;
}

.r-card :nth-child(1),
.r-card :nth-child(2) {
  width: 15rem;
  font-weight: 600;
  font-size: 1.4rem;
}

.r-card>:nth-child(3) {
  font-size: 1.2rem;
  width: 15rem;
}

.r-card>:nth-child(4) {
  font-size: 0.9rem;
  width: 15rem;
}

.r-card:hover {
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(136, 160, 255, 0.46) 217%
  );
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}
.r-button{
  position: absolute;
  top: -6rem;
  right: 1rem;
  gap: 1rem;
}
.r-button button{
  font-weight: 500;
  font-size: 1.6rem;
  padding: 0.4rem 1.2rem;
  border-radius: 0;
  cursor: pointer;
}
@media (max-width: 480px) {
  .primaryText{
    font-size: 1.3rem;
  }
  .r-button{
    right: 0rem;
    top: -5rem;
  }
  .r-button button{
    /* width: 1rem; */
    padding: 0.1rem 0.5rem;
  }
}
