.h-wrapper{
  background-color: var(--black);
  color: white;
}
.h-container{
  justify-content: space-between;
  padding: 1rem 3rem;
  color: var(--secondary);
}
.h-menu{
  gap: 2em;
}
a:hover{
  cursor: pointer;
}

.menu-icon{
  display: none;
}
.menu-icon:hover{
  cursor: pointer;
}

@media (max-width: 768px) {
  .menu-icon{
    display: block;
  }
  .h-menu{
    position: absolute;
    padding:1rem 2.2rem;
    border-radius: 1rem;
    color: var(--black);
    top: 7rem;
    right: 2rem;
    background-color: white;
    flex-direction: column;
    z-index: 2;
    box-shadow: 0px 5px 4px rgba(0,0,0,0.5);
    transition: all 0.4s ease-in-out;
  }
  .h-container{
    padding : 2rem 2rem 0.5rem 2rem;
  }
}